* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}


.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.history,
.information,
.banList {
  min-height: 100vh;
}


.history,
.banList {
  width: 25%;
  background-color: black;
}

.information {
  width: 50%;
  background-color: white;
}