.header {

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 1rem;
}

.header__top {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
}

.header img {
  width: 8rem;
  height: 5rem;

  margin-right: 2rem;
}